@font-face {
  font-family: "Alex Brush";
  src: url('../Font/AlexBrush-Regular.ttf') format('truetype');
}

* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  line-height: 1.5;
  font-family: "Alex Brush", sans-serif;
  background-image: url('https://img.freepik.com/free-photo/oak-wooden-textured-design-background_53876-143033.jpg?w=996&t=st=1699025977~exp=1699026577~hmac=4ae80177c9b6e70870af928ce04c7719efa57dee6f7de707e7d11000aa1210b2');
}

/* Header */
header {
  display: flex;
  position: sticky;
  margin: auto;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 40px;
  background: #F8F0E5;
  border-bottom: 1px solid #DAC0A3;
  font-family: "Alex Brush";
  
  & ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  & li {
    float: left;
  }

  & a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
  }

  & :hover {
    text-decoration: underline;
    color: rgb(21, 116, 160);
  }
  }

  & .wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & .menu {
    display: flex;
    gap: 2rem;
  }

  & .toggle_btn {
    color: #083979;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 1rem;
  }

  & a.tbl-sign {
    background: #DAC0A3;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    transition: scale 0.2 ease;
  }
  
  & a.tbl-sign:hover {
    background: #0F2C59;
    text-decoration: none;
    transition: scale 1.05;
  }

  & .logo a {
    font-size: 50px;
    font-weight: bold;
    float: left;
    font-family: courier;
    color: #0F2C59;
  }

/* Dropdown Menu */
  & .dropdown_menu {
    display: none;
    position: absolute;
    right: 0rem;
    top: 45px;
    height: 0;
    width: 150px;
    background: #F8F0E5;
    border-radius: 15px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &.open {
      height: 340px;

      & li {
        padding: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
  
      & :hover {
        text-decoration: underline;
        color: #ffffff;
        font-weight: bold;
      }
      }

      & .tbl-sign {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }
}
/* Akhir Header */

/* Main */
main {
  margin-top: 0px;

  & h2 {
    font-family: "Alex Brush", sans-serif;
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #0F2C59;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(128, 61, 22), 0 0 5px rgb(121, 121, 122);
    /* width: 100%; */
    line-height: 50px;
    margin-left: 20px;
  }
  
  & h4 {
    font-family: "Alex Brush";
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #0F2C59;
    width: 100%;
    line-height: 50px;
  }
  
  & p {
    margin: 10px 20px;
    padding: 10px 0px;
  }

}

#home {
  max-width: 100%;

  .homeImg {
    width: 100%;
    object-fit: cover;
    box-shadow: 5px 3px 5px 5px black;
    border-radius: 20px;
  }
}



#grid-container {
  max-width: 100%;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 450px);
  margin: 40px;
  align-items: center;
  grid-gap: 20px;
  justify-content: center;
  align-items: stretch;

  & .familyRoomImg {
    box-shadow: 5px 3px 5px 5px black;
    border-radius: 20px;
    text-align: center;
    background: #F8F0E5;
    transition: transform;

    &:hover {
      transform: scale(0.9);
    }

    & .content {
      cursor: pointer;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    & img {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
  }

  & .bedRoomImg {
      box-shadow: 5px 3px 5px 5px black;
      border-radius: 20px;
      text-align: center;
      background: #F8F0E5;
      transition: transform;
      grid-column: 2 / 3;
      grid-row: 2 / 1;
  
      &:hover {
        transform: scale(0.9);
      }
  
      & .content {
        cursor: pointer;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
  
      & img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }
    }

  & .bathRoomImg {
      box-shadow: 5px 3px 5px 5px black;
      border-radius: 20px;
      text-align: center;
      background: #F8F0E5;
      transition: transform;
      grid-column: 3 / 3;
      grid-row: 1 / 3;
  
      &:hover {
        transform: scale(0.9);
      }
  
      & .content {
        cursor: pointer;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
  
      & img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }
    }

  & .kitchenRoomImg {
      box-shadow: 5px 3px 5px 5px black;
      border-radius: 20px;
      text-align: center;
      background: #F8F0E5;
      transition: transform;
      grid-column: 1 / 3;
      grid-row: 2 / 3;
  
      &:hover {
        transform: scale(0.9);
      }
  
      & .content {
        cursor: pointer;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
  
      & img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }
    }
}

.coulumn {
  margin-top: 50px;
  margin-bottom: 50px;

  & .description {
    font-size: 20px;
    font-weight: bold;
    font-family: "Alex Brush";
    color: #0F2C59;
  }
}

section {
  margin: auto;
  display: grid;
  margin-bottom: 50px;
}

#form-section {
  margin: 10px;
  padding: 20px;
  text-align: center;
  justify-content: center;
}

a.tbl-one {
  background: #0F2C59;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: bold;
}

a.tbl-one:hover {
  background: #DAC0A3;
  text-decoration: none;
}
/* Akhir Main */

/* Footer */
.footer {
  background-color: #DAC0A3;
  padding: 70px 50px;
  display: flex;
  justify-content: center;

  & .container {
    max-width: 1170px;
    margin: auto;

    & .row {
      display: flex;
      flex-wrap: wrap;
    
      & .footer-col {
        width: 25%;
        padding: 0 15px;
    
        & h4 {
          font-size: 18px;
          color: #0F2C59;
          text-transform: capitalize;
          margin-bottom: 35px;
          font-weight: 500;
          position: relative;
    
          &::before {
            content:'';
            position: absolute;
            left: 0;
            bottom: -10px;
            background-color: #F8F0E5;
            height: 2px;
            box-sizing: border-box;
            width: 50px;
          }
        }

        & ul li:not(:last-child) {
          margin-bottom: 10px;

          & a {
            font-size: 16px;
            list-style: circle inside;
            text-transform: capitalize;
            color: #0F2C59;
            text-decoration: none;
            font-weight: 300;
            color: white;
            display: block;
            transition: all 0.3s ease;

            &:hover {
              color: #0F2C59;
              padding-left: 8%;
            } 
          }
        }

        & .social-links a {
          display: inline-block;
          height: 40px;
          width: 40px;
          background-color: rgba(255, 255, 255, 0.2);
          margin: 0 10px 10px 0;
          text-align: center;
          line-height: 40px;
          border-radius: 50%;
          color: red;
          transition: all 0.5s ease;

          &:hover {
            color: aqua;
            background-color: orange;
          }
        }
      }
    }
  }
}

/*Media Query*/
@media screen and (max-width:992px) {
  .wrapper .menu, .wrapper .tbl-sign {
    display: none;
    width: 90%;
  }

  .wrapper .toggle_btn {
    display: block;
  }

  .logo a {
    display: block;
    width: 100%;
    text-align: center;
  }

  header {
    & .menu {
      width: 100%;
      margin: 0;
  
      &  ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
  
        & li {
          display: inline-block;
          float: none;
        }
      }
    }

    & .dropdown_menu {
      display: block;
    }
  }

  section {
    display: block;

    & img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

.grid{
    grid-template-columns: repeat(3);
    width: 100%;
  }
}

/* Footer Responsive */
@media (max-width: 767px) {
  .footer {
    width: 100%;
  }

  .grid {
    grid-template-columns: repeat(2);
    width: 50%;
  }
}

@media (max-width: 574px) {
  .footer {
    width: 100%;
  }

  .grid {
    grid-template-columns: repeat(1);
    width: 30%;
  }
}


